[package]
name = "tempo"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
description = "Tempo node implementation"
default-run = "tempo"

[lints]
workspace = true

[dependencies]
tempo-node.workspace = true
tempo-chainspec.workspace = true
tempo-faucet.workspace = true
reth-malachite.workspace = true
reth-cli-util.workspace = true
reth-ethereum = { workspace = true, features = ["full", "cli"] }
reth-ethereum-engine-primitives.workspace = true
reth-node-builder.workspace = true
reth-provider.workspace = true
reth-node-ethereum.workspace = true
alloy-rpc-types-engine.workspace = true
clap.workspace = true
eyre.workspace = true
tokio.workspace = true
tracing.workspace = true

[[bin]]
name = "tempo"
path = "src/main.rs"
